n8n-workflows-old/lead-enrichment-engine-workflow.json
{
  "name": "Lead Enrichment Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead-created",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-123456789000",
      "name": "New Lead Created Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-enrichment",
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-234567890001",
      "name": "Manual Enrichment Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901002",
      "name": "Batch Enrichment Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [260, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.email}}",
              "operation": "regex",
              "value2": "^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json.skipEnrichment}}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012003",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 400]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/leads/{{$json.leadId || $json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123004",
      "name": "Get Existing Lead Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "crm-api-key",
          "name": "CRM API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{$json.lastEnrichment}}",
              "operation": "before",
              "value2": "={{$now - 86400000}}"
            }
          ]
        }
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234005",
      "name": "Check Enrichment Freshness",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-verifier",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "email": "={{$json.email}}",
            "api_key": "={{$parameter.hunterApiKey}}"
          }
        }
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345006",
      "name": "Hunter.io Email Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "domain": "={{$json.email.split('@')[1]}}",
            "api_key": "={{$parameter.hunterApiKey}}",
            "limit": "10"
          }
        }
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456007",
      "name": "Hunter.io Domain Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 350]
    },
    {
      "parameters": {
        "url": "https://person.clearbit.com/v2/people/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "email": "={{$json.email}}"
          }
        }
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567008",
      "name": "Clearbit Person Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "clearbit-api-key",
          "name": "Clearbit API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://company.clearbit.com/v2/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "domain": "={{$json.email.split('@')[1]}}"
          }
        }
      },
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678009",
      "name": "Clearbit Company Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 650],
      "credentials": {
        "httpHeaderAuth": {
          "id": "clearbit-api-key",
          "name": "Clearbit API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/people",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"email\",\n  \"email\": \"{{$json.email}}\",\n  \"projection\": \"(id,firstName,lastName,headline,positions,educations,skills,industry,location)\"\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.linkedinAccessToken}}",
            "Content-Type": "application/json",
            "X-Restli-Protocol-Version": "2.0.0"
          }
        }
      },
      "id": "k1l2m3n4-o5p6-7890-klmn-123456789010",
      "name": "LinkedIn Profile Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 800]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "query": "={{$json.company || $json.email.split('@')[1]}}",
            "key": "={{$parameter.googlePlacesApiKey}}",
            "fields": "name,formatted_address,rating,user_ratings_total,website,international_phone_number,business_status"
          }
        }
      },
      "id": "l2m3n4o5-p6q7-8901-lmno-234567890011",
      "name": "Google Places Company Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 950]
    },
    {
      "parameters": {
        "url": "https://api.fullcontact.com/v3/person.enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{$json.email}}\",\n  \"webhookUrl\": \"{{$parameter.baseUrl}}/webhook/fullcontact-callback\",\n  \"confidence\": \"high\"\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.fullcontactApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "m3n4o5p6-q7r8-9012-mnop-345678901012",
      "name": "FullContact Social Profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 1100]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/match",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{$json.email}}\",\n  \"reveal_personal_emails\": true,\n  \"reveal_phone_number\": true\n}",
        "options": {
          "headers": {
            "Cache-Control": "no-cache",
            "Content-Type": "application/json",
            "X-Api-Key": "={{$parameter.apolloApiKey}}"
          }
        }
      },
      "id": "n4o5p6q7-r8s9-0123-nopq-456789012013",
      "name": "Apollo.io Contact Discovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1140, 1250]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 5
      },
      "id": "o5p6q7r8-s9t0-1234-opqr-567890123014",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1360, 600]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "enrichedData.email",
              "value": "={{$json.email}}"
            },
            {
              "name": "enrichedData.emailStatus",
              "value": "={{$json.hunterResult?.result?.result || 'unknown'}}"
            },
            {
              "name": "enrichedData.emailDeliverability",
              "value": "={{$json.hunterResult?.result?.score || 0}}"
            },
            {
              "name": "enrichedData.firstName",
              "value": "={{$json.clearbitPerson?.name?.givenName || $json.linkedinProfile?.firstName || $json.apolloData?.person?.first_name || $json.firstName}}"
            },
            {
              "name": "enrichedData.lastName",
              "value": "={{$json.clearbitPerson?.name?.familyName || $json.linkedinProfile?.lastName || $json.apolloData?.person?.last_name || $json.lastName}}"
            },
            {
              "name": "enrichedData.fullName",
              "value": "={{($json.clearbitPerson?.name?.givenName || $json.linkedinProfile?.firstName || $json.apolloData?.person?.first_name) + ' ' + ($json.clearbitPerson?.name?.familyName || $json.linkedinProfile?.lastName || $json.apolloData?.person?.last_name)}}"
            },
            {
              "name": "enrichedData.jobTitle",
              "value": "={{$json.clearbitPerson?.employment?.title || $json.linkedinProfile?.headline || $json.apolloData?.person?.title || $json.jobTitle}}"
            },
            {
              "name": "enrichedData.company",
              "value": "={{$json.clearbitCompany?.name || $json.clearbitPerson?.employment?.name || $json.apolloData?.person?.organization?.name || $json.company}}"
            },
            {
              "name": "enrichedData.companyDomain",
              "value": "={{$json.clearbitCompany?.domain || $json.hunterDomain?.domain || $json.email.split('@')[1]}}"
            },
            {
              "name": "enrichedData.industry",
              "value": "={{$json.clearbitCompany?.category?.industry || $json.linkedinProfile?.industry || $json.apolloData?.person?.organization?.industry}}"
            },
            {
              "name": "enrichedData.companySize",
              "value": "={{$json.clearbitCompany?.metrics?.employees || $json.apolloData?.person?.organization?.estimated_num_employees}}"
            },
            {
              "name": "enrichedData.companyRevenue",
              "value": "={{$json.clearbitCompany?.metrics?.annualRevenue}}"
            },
            {
              "name": "enrichedData.location",
              "value": "={{$json.clearbitPerson?.geo?.city + ', ' + $json.clearbitPerson?.geo?.country || $json.linkedinProfile?.location || $json.apolloData?.person?.city + ', ' + $json.apolloData?.person?.country}}"
            },
            {
              "name": "enrichedData.phoneNumber",
              "value": "={{$json.apolloData?.person?.phone_numbers?.[0] || $json.googlePlaces?.results?.[0]?.international_phone_number}}"
            },
            {
              "name": "enrichedData.website",
              "value": "={{$json.clearbitCompany?.site?.url || $json.googlePlaces?.results?.[0]?.website}}"
            },
            {
              "name": "enrichedData.linkedinUrl",
              "value": "={{$json.clearbitPerson?.linkedin?.handle ? 'https://linkedin.com/in/' + $json.clearbitPerson.linkedin.handle : $json.apolloData?.person?.linkedin_url}}"
            },
            {
              "name": "enrichedData.twitterHandle",
              "value": "={{$json.clearbitPerson?.twitter?.handle || $json.fullcontactData?.socialProfiles?.twitter?.handle}}"
            },
            {
              "name": "enrichedData.technologies",
              "value": "={{$json.clearbitCompany?.tech || []}}"
            },
            {
              "name": "enrichedData.fundingInfo",
              "value": "={{$json.clearbitCompany?.metrics || {}}}"
            }
          ],
          "number": [
            {
              "name": "enrichedData.confidenceScore",
              "value": "={{Math.round((\n  ($json.hunterResult ? 20 : 0) +\n  ($json.clearbitPerson ? 25 : 0) +\n  ($json.clearbitCompany ? 25 : 0) +\n  ($json.linkedinProfile ? 15 : 0) +\n  ($json.apolloData ? 10 : 0) +\n  ($json.googlePlaces ? 5 : 0)\n))}}"
            },
            {
              "name": "enrichedData.leadScore",
              "value": "={{Math.min(100, Math.max(0, \n  ($json.clearbitPerson?.employment?.title?.toLowerCase().includes('director') || $json.clearbitPerson?.employment?.title?.toLowerCase().includes('manager') || $json.clearbitPerson?.employment?.title?.toLowerCase().includes('vp') || $json.clearbitPerson?.employment?.title?.toLowerCase().includes('ceo') || $json.clearbitPerson?.employment?.title?.toLowerCase().includes('cto') ? 25 : 0) +\n  ($json.clearbitCompany?.metrics?.employees > 100 ? 20 : $json.clearbitCompany?.metrics?.employees > 50 ? 15 : 10) +\n  ($json.hunterResult?.result?.score || 0) / 4 +\n  ($json.linkedinProfile ? 15 : 0) +\n  ($json.clearbitCompany?.category?.industry ? 10 : 0)\n))}}"
            }
          ],
          "boolean": [
            {
              "name": "enrichedData.isEnriched",
              "value": true
            },
            {
              "name": "enrichedData.emailVerified",
              "value": "={{$json.hunterResult?.result?.result === 'deliverable'}}"
            },
            {
              "name": "enrichedData.hasLinkedIn",
              "value": "={{!!$json.linkedinProfile || !!$json.clearbitPerson?.linkedin?.handle}}"
            },
            {
              "name": "enrichedData.hasCompanyData",
              "value": "={{!!$json.clearbitCompany || !!$json.googlePlaces?.results?.[0]}}"
            }
          ]
        }
      },
      "id": "p6q7r8s9-t0u1-2345-pqrs-678901234015",
      "name": "Merge Enrichment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1580, 600]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.enrichedData.confidenceScore}}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "q7r8s9t0-u1v2-3456-qrst-789012345016",
      "name": "Quality Gate Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1800, 500]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/leads/{{$json.leadId || $json.id}}/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{$json.leadId || $json.id}}\",\n  \"enrichmentData\": {{$json.enrichedData}},\n  \"enrichmentSources\": {\n    \"hunter\": {{$json.hunterResult ? true : false}},\n    \"clearbit_person\": {{$json.clearbitPerson ? true : false}},\n    \"clearbit_company\": {{$json.clearbitCompany ? true : false}},\n    \"linkedin\": {{$json.linkedinProfile ? true : false}},\n    \"apollo\": {{$json.apolloData ? true : false}},\n    \"google_places\": {{$json.googlePlaces ? true : false}},\n    \"fullcontact\": {{$json.fullcontactData ? true : false}}\n  },\n  \"enrichmentMetadata\": {\n    \"enrichedAt\": \"{{$now}}\",\n    \"workflow\": \"lead-enrichment-engine\",\n    \"version\": \"2.0\",\n    \"confidenceScore\": {{$json.enrichedData.confidenceScore}},\n    \"dataQuality\": \"{{$json.enrichedData.confidenceScore >= 80 ? 'high' : $json.enrichedData.confidenceScore >= 60 ? 'medium' : 'low'}}\",\n    \"processingTime\": \"{{$now - $json.processingStartTime}}\"\n  },\n  \"automatedActions\": {\n    \"updateLeadScore\": true,\n    \"assignToSalesRep\": {{$json.enrichedData.leadScore >= 70}},\n    \"addToNurtureSequence\": {{$json.enrichedData.leadScore >= 50 && $json.enrichedData.leadScore < 70}},\n    \"sendWelcomeEmail\": {{$json.enrichedData.emailVerified}},\n    \"createOpportunity\": {{$json.enrichedData.leadScore >= 85}}\n  }\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.crmApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "r8s9t0u1-v2w3-4567-rstu-890123456017",
      "name": "Update CRM with Enriched Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2020, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.enrichedData.leadScore}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ],
          "boolean": [
            {
              "value1": "={{$json.enrichedData.emailVerified}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "s9t0u1v2-w3x4-5678-stuv-901234567018",
      "name": "High-Value Lead Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C1234567890",
          "mode": "list"
        },
        "text": "=🚀 *High-Value Lead Enriched!*\n\n*Lead Details:*\n• *Name:* {{$json.enrichedData.fullName}}\n• *Email:* {{$json.enrichedData.email}} ✅\n• *Company:* {{$json.enrichedData.company}}\n• *Title:* {{$json.enrichedData.jobTitle}}\n• *Industry:* {{$json.enrichedData.industry}}\n• *Location:* {{$json.enrichedData.location}}\n\n*Scoring:*\n• *Lead Score:* {{$json.enrichedData.leadScore}}/100\n• *Confidence:* {{$json.enrichedData.confidenceScore}}%\n• *Email Verified:* {{$json.enrichedData.emailVerified ? '✅ Yes' : '❌ No'}}\n\n*Company Intelligence:*\n• *Size:* {{$json.enrichedData.companySize}} employees\n• *Website:* {{$json.enrichedData.website}}\n• *Revenue:* ${{$json.enrichedData.companyRevenue ? $json.enrichedData.companyRevenue.toLocaleString() : 'Unknown'}}\n\n*Contact Info:*\n• *Phone:* {{$json.enrichedData.phoneNumber || 'Not found'}}\n• *LinkedIn:* {{$json.enrichedData.linkedinUrl || 'Not found'}}\n• *Twitter:* {{$json.enrichedData.twitterHandle ? '@' + $json.enrichedData.twitterHandle : 'Not found'}}\n\n*Next Actions:*\n{{$json.automatedActions.assignToSalesRep ? '• ✅ Assigned to sales rep' : ''}}\n{{$json.automatedActions.createOpportunity ? '• ✅ Opportunity created' : ''}}\n{{$json.automatedActions.sendWelcomeEmail ? '• ✅ Welcome email queued' : ''}}\n\n<{{$parameter.crmUrl}}/leads/{{$json.leadId}}|View Lead Profile>",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "t0u1v2w3-x4y5-6789-tuvw-012345678019",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2460, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-oauth",
          "name": "Slack OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/leads/{{$json.leadId}}/assign",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{$json.leadId}}\",\n  \"assignmentRules\": {\n    \"leadScore\": {{$json.enrichedData.leadScore}},\n    \"industry\": \"{{$json.enrichedData.industry}}\",\n    \"companySize\": {{$json.enrichedData.companySize}},\n    \"location\": \"{{$json.enrichedData.location}}\",\n    \"jobTitle\": \"{{$json.enrichedData.jobTitle}}\"\n  },\n  \"priority\": \"{{$json.enrichedData.leadScore >= 85 ? 'urgent' : $json.enrichedData.leadScore >= 70 ? 'high' : 'normal'}}\",\n  \"autoActions\": {\n    \"scheduleFollowUp\": true,\n    \"sendIntroEmail\": {{$json.enrichedData.emailVerified}},\n    \"addToSequence\": \"high_value_prospects\",\n    \"notifyManager\": {{$json.enrichedData.leadScore >= 85}}\n  }\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.crmApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "u1v2w3x4-y5z6-7890-uvwx-123456789020",
      "name": "Auto-Assign to Sales Rep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2460, 350]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/sequences/nurture/enroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{$json.leadId}}\",\n  \"sequenceType\": \"{{$json.enrichedData.leadScore >= 60 ? 'warm_lead_nurture' : 'general_nurture'}}\",\n  \"personalizations\": {\n    \"firstName\": \"{{$json.enrichedData.firstName}}\",\n    \"company\": \"{{$json.enrichedData.company}}\",\n    \"industry\": \"{{$json.enrichedData.industry}}\",\n    \"jobTitle\": \"{{$json.enrichedData.jobTitle}}\",\n    \"companySize\": \"{{$json.enrichedData.companySize}}\",\n    \"location\": \"{{$json.enrichedData.location}}\"\n  },\n  \"delay\": {\n    \"value\": {{$json.enrichedData.leadScore >= 70 ? 0 : 2}},\n    \"unit\": \"hours\"\n  }\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.crmApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "v2w3x4y5-z6a7-8901-vwxy-234567890021",
      "name": "Add to Nurture Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2020, 650]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/analytics/enrichment",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"lead_enriched\",\n  \"leadId\": \"{{$json.leadId}}\",\n  \"enrichmentResults\": {\n    \"sourcesUsed\": {{Object.keys($json.enrichmentSources || {}).filter(key => $json.enrichmentSources[key]).length}},\n    \"dataQuality\": \"{{$json.enrichmentMetadata.dataQuality}}\",\n    \"confidenceScore\": {{$json.enrichedData.confidenceScore}},\n    \"leadScore\": {{$json.enrichedData.leadScore}},\n    \"processingTime\": {{$json.enrichmentMetadata.processingTime}}\n  },\n  \"timestamp\": \"{{$now}}\",\n  \"workflow\": \"lead-enrichment-engine\"\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.crmApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "w3x4y5z6-a7b8-9012-wxyz-345678901022",
      "name": "Track Enrichment Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2680, 400]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/leads/batch-enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "qs": {
            "lastEnrichment": "2d",
            "limit": "50",
            "priority": "high"
          }
        }
      },
      "id": "x4y5z6a7-b8c9-0123-xyza-456789012023",
      "name": "Get Leads for Batch Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "crm-api-key",
          "name": "CRM API Key"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "y5z6a7b8-c9d0-1234-yzab-567890123024",
      "name": "Split Batch Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 700]
    },
    {
      "parameters": {
        "url": "={{$parameter.crmApiUrl}}/leads/{{$json.leadId}}/enrich-failed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{$json.leadId}}\",\n  \"failureReason\": \"Low confidence enrichment\",\n  \"confidenceScore\": {{$json.enrichedData?.confidenceScore || 0}},\n  \"attemptedSources\": {{Object.keys($json.enrichmentSources || {})}},\n  \"retry\": {\n    \"scheduleRetry\": true,\n    \"retryAfter\": \"24h\",\n    \"useAlternateSources\": true\n  },\n  \"timestamp\": \"{{$now}}\"\n}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{$parameter.crmApiKey}}",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "z6a7b8c9-d0e1-2345-zabc-678901234025",
      "name": "Handle Low Quality Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1800, 750]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_type",
              "value": "enrichment_failure"
            },
            {
              "name": "error_message", 
              "value": "={{$json.error?.message || 'Unknown enrichment error'}}"
            },
            {
              "name": "lead_id",
              "value": "={{$json.leadId || $json.id}}"
            },
            {
              "name": "email",
              "value": "={{$json.email}}"
            },
            {
              "name": "retry_possible",
              "value": "={{!$json.error?.message?.includes('invalid email') && !$json.error?.message?.includes('not found')}}"
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345026",
      "name": "Process Error Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 900]
    }
  ],
  "connections": {
    "New Lead Created Trigger": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Enrichment Trigger": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Enrichment Schedule": {
      "main": [
        [
          {
            "node": "Get Leads for Batch Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Get Existing Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Lead Data": {
      "main": [
        [
          {
            "node": "Check Enrichment Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrichment Freshness": {
      "main": [
        [
          {
            "node": "Hunter.io Email Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hunter.io Domain Intelligence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clearbit Person Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clearbit Company Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Profile Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Places Company Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "FullContact Social Profiles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apollo.io Contact Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Email Verification": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Domain Intelligence": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clearbit Person Enrichment": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clearbit Company Enrichment": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Profile Lookup": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places Company Data": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullContact Social Profiles": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo.io Contact Discovery": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enrichment Data": {
      "main": [
        [
          {
            "node": "Quality Gate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate Check": {
      "main": [
        [
          {
            "node": "Update CRM with Enriched Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Low Quality Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM with Enriched Data": {
      "main": [
        [
          {
            "node": "High-Value Lead Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Nurture Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High-Value Lead Check": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-Assign to Sales Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Track Enrichment Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Assign to Sales Rep": {
      "main": [
        [
          {
            "node": "Track Enrichment Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Nurture Sequence": {
      "main": [
        [
          {
            "node": "Track Enrichment Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads for Batch Enrichment": {
      "main": [
        [
          {
            "node": "Split Batch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batch Leads": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "errorWorkflow": {
      "active": true
    },
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-21T10:00:00.000Z",
      "updatedAt": "2024-01-21T10:00:00.000Z",
      "id": "lead-enrichment",
      "name": "Lead Enrichment"
    },
    {
      "createdAt": "2024-01-21T10:00:00.000Z",
      "updatedAt": "2024-01-21T10:00:00.000Z",
      "id": "data-intelligence",
      "name": "Data Intelligence"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2024-01-21T10:30:00.000Z",
  "versionId": "87654321-4321-4321-4321-876543210987"
}